@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .MainCont {
    flex-direction: column;
    position: relative;
    margin: 40px;
    padding: 20px 0px;
  }
  .ImageCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Image {
    position: static;
    width: 237px;
    height: 180px;
  }
  .FaqCont {
    display: flex;
    gap: 25px;
    font-size: 13px;
    padding-bottom: 20px;
  }
  .Accordion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .FAQ {
    display: flex;
    justify-content: center;
  }
}
